br
div.container.text-center
    ul.nav
        li.nav-item: a.nav-link(href="/services-body-care") body care
        li.nav-item: a.nav-link(href="/services-facial-care") facial care
        li.nav-item: a.nav-link(href="/services-more") more
br
br