extends layout

block content
    br
    div.container.text-center
        h1.text-info Our joy is to help you transform into the Happy,
        h1.text-info Healthy Being you are meant to be.
    br
    br

    div.container.text-center
        h2.text-primary We treat conditions such as:
        br
        h4 MS, Fibromyalgia, Asthma, Allergies
        h4 Insomnia, Headache, Stress
        h4 Repetitive Strain Injury
        h4 Neck, Shoulder, Back and Knee Pain
        h4 Arthritis, Rheumatism, Gout
        h4 Whiplash From Motor Vehicle Accidents
        h4 Pregnancy and Children Massage
        h4 Shronic Fatigue Syndrome
        h4 Face Lift Skin Care
        h4 Sport Injuries
        br
        br
        h2.text-success Feel Better Now
    br
    br
