extends layout

block content
    br
    div.container.text-center
        h1.text-info Our joy is to help you transform into the Happy,
        h1.text-info Healthy Being you are meant to be.
        br
        br

    div.container.text-center
        h2.text-primary We treat conditions such as:
        br
        p MS, Fibromyalgia, Asthma, Allergies
        p Insomnia, Headache, Stress
        p Repetitive Strain Injury
        p Neck, Shoulder, Back and Knee Pain
        p Arthritis, Rheumatism, Gout
        p Whiplash From Motor Vehicle Accidents
        p Pregnancy and Children Massage
        p Shronic Fatigue Syndrome
        p Face Lift Skin Care
        p Sport Injuries
        br
        br
        h2.text-success Feel Better Now
        br
        br
