extends layout

block content
    br
    div.container
        div.row
            div.col-sm.text-center
                h1 Booking & Consulting
                br
                br
                h4 Call Jina
                h5 RMT, Reiki Master, Natural Health Consultant
                h5 Phone : (403) 288-5982 
                h5 cell : (403) 478-1017           
                h5 Email:jinahwangem@gmail.com

            div.col-sm.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.6036270158793!2d-114.21713668416187!3d51.04194115244882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716dc5a7dea657%3A0xaaa0a807b95317bd!2sHarmonia%20Wellness!5e0!3m2!1sen!2sca!4v1601882760357!5m2!1sen!2sca" allowfullscreen)
      
    br
    br