extends layout

block content
    br
    div.text-center  
        img.img-fluid(src="./images/credential.jpg")
    br

    div.container.text-center
        h1.text-info Royal Meridian Massage Therapy
        br
        br
        h3 We offer a Unique Massage
        h3 Open meridian points all over your body
        h3 Realigning your body structure
        h3 Acupuncture pressure point face-lift skin care
    br
    br

    div.container.text-center
        h4.text-success We are Licensed, Certified and Registered Massage Therapists. RMT with Natural Health Practitioners of Canada Association, Reiki Master, Natural Health Consultant 
    br
    br
