extends layout

block content
  br
  div.text-center  
    img.img-fluid(src="./images/humana-1e.png")
  hr.bg-secondary
  br
  br
  div.text-center
    img.img-fluid(src="./images/main.gif")
  br
  br
      