extends layout

block content
  div.text-center  
    img.img-fluid(src="./images/humana-1e.png")
  hr.bg-secondary
  div.text-center
    img.img-fluid(src="./images/main.gif")
  hr.bg-secondary
  div.container
    div.row
      div.col-sm
        p.text-info Aspen S.W. Calgary Massage
        p.text-info Therapeutic, Sport Massage & Skin Care by Harmonia Wellness
        p.text-info Insurance claim available
      div.col-sm
        p.text-info Available for days, evenings and weekends for appointments please contact:
        p.text-info (403) 288-5982 or (403) 478-1017 (cell)
        p Email: jinahwangem@gmail.com 
        p.text-info Aspen Stone Road S.W. Calgary
      