extends layout

block content
    include includes/services-menu

    div.text-center  
        img.img-fluid(src="./images/facial-care.jpg")
    br
    br

    div.container
        h2.text-info Facial Care - Acupuncture Pressure Point Face Lift Massage
        br
        h5 Anti-Aging 
        h6 60min $90
        p reduce wrinkles + RF treatment + special ampule + collagen treatment + anti-aging mask 
        br
        br
        h5 Acne Care 
        h6 60min $90
        p specific cleansing & peeling for acne skin type + lymphatic drainage massage + acne care mask 
        br
        br
        h5 Brightening 
        h6 60min $90
        p peeling + vitamin product treatment + special ampule + vitamin c mask 
        br
        br
        h6 All facial care are combined with peeling, vitamin care, ultra sound and RF treatment.
    br
    br
