extends layout

block content
    include includes/services-menu

    div.text-center  
        img.img-fluid(src="./images/body-care.jpg")
    br
    br

    div.container
        h2.text-info Body Care
        br
        h5 Royal Meridian Massage  
        h6 60min $100 / 90min $140
        p First, rigorous massage is performed centered around the spinal cord. Then, depending on the result, a follow up massage is given to the affected peripherals and abdomen area. Immediate relief can be felt for muscle ache, stress related fatigue and general prostration. This is a very unique Oriental massage technique offered exclusively by Harmonia Wellness.
        br
        br
        h5 Abdomen Area Care 
        h6 60min $100
        p Royal Meridian + RF treatment. Abdomen area Slimming, Cleaning and Comforting Your Organs
        br
        br
        h5 Lower body Care 
        h6 60min $100
        p Royal Meridian + RF treatment. Cellulite Reduction, Shaping and Slimming, Lymphatic drainage
        br
        br
        h5 Aroma Massage, Swedish Relaxation Massage 
        h6 60min $100 / 90min $140
        p Full Body Aroma Massage or Swedish Relaxation Massage. A great massage to increase muscle flexibility and reduce stress. The most comfortable and relaxing massage you will experience.
        br
        br
        h5 Pregnancy and New Mom Care 
        h6 60min $100
        p Reduce normal discomfort experienced during the pregnancy
        br
        br
        h5 Baby and Children Massage
        h6 30min $50 / 60min $100
        p Gentle rhythmic touch for comforting baby and children         
    br
    br

