extends layout

block content
    include includes/services-menu

    div.container
        h2.text-info Consultation
        p We advise suitable exercises, self-care, and healthy diet plan depending on what clients need
    br
    br

    div.container
        h2.text-info Infra Red Sauna
        h6 30min $20
        p Combined with Diet Oil, Arthritis Cream and Pain Relief Cream for best results 
    br
    br
