extends layout

block content
    include includes/services-menu

    div.container.text-center
        h1.text-info Harmonia Wellness Clinic Services
    br
    br

    div.container.text-center
        h4 Call Jina
        h5 RMT, Reiki Master, Natural Health Consultant
        h6 Phone : (403) 288-5982
        h6 cell : (403) 478-1017
        h6 Email:jinahwangem@gmail.com
        br
        h4 Gift Certificate available
    br
    br

    div.container.text-center
        h4 Try a Professional Massage with our Licensed, Certified and Registered Massage Therapists.
        h4 We are proud Members of Natural Health Practitioners of Canada Association
    br
    br