extends layout

block content
    br
    h1.text-info Your Imformation
    br
    table.table.table-sm        
        tr
            th(scope="row") User Name
            td {username}
        tr
            th(scope="row") Phone Number
            td {phoneNumber}
        tr
            th(scope="row") Email
            td {email}


