extends layout

block content
    br
    br
    h1.text-primary Hello,{user}!!
    br
    br
    a.btn.btn-primary.btn-lg(href="../user/edit") My profile 
    a.btn.btn-primary.btn-lg(href="../user/book") Book
    a.btn.btn-primary.btn-lg(href="../user/logout") Log out
    br
    br
    br